@model dndhelper.Models.Character

<h1>Example Character</h1>

<p>ID: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>CClass: @Model.CClass</p>
<p>Level: @Model.Level</p>
<p>Background: @Model.Background</p>
<p>Iventory: @Model.Iventory</p>
<p>Weapon: @Model.Weapon</p>
<p>Armor: @Model.Armor</p>
